{% extends 'base.html' %}

{% block body %}
	<h1>Hello world</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aliquam, ratione ad similique eius illo, blanditiis asperiores quos numquam atque, reiciendis expedita animi deserunt. Eum fugiat excepturi accusantium, autem soluta?</p>
	<div>
		<p>
			Name:{{name|upper}}
		</p>
		<p>
			Country:{{country|upper}}

		</p>
		<p>

			{% for num in list %}
			{% if num <= 3 %}
			<h{{ num }}>Life is cool. Be Positive  </h{{ num }}>
			{% else %}
			<h{{ num }}>Life is difficult </h{{ num }}>
			{% endif %}
			{% endfor  %}
		</p>
	</div>
{% endblock %}
