{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="small_div">
        <div class="container">
            <br>
            <h2>Book List</h2>
            <hr>
            <form action="/update/{{ books.id }}">

                {% csrf_token %}
                <label class="form-group" for="title">Title: </label>
                <input class="form-control" type="text" name="title" value="{{ books.title }}" ><br>

                <label class="form-group" for="Price">Price: </label>
                <input class="form-control" type="text" name="price" value="{{ books.price }}"><br>

                <label class="form-group" for="author">Author: </label>
                <input class="form-control" type="text" name="author" value="{{ books.author }}"><br>

                <input class="btn btn-success" type="submit" value="update">
            </form>
        </div>
    </div>
</body>
</html>