<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    body{
        background-color: #638cB8;
    }
    .submit{
        background-color: #0FDEF3;
    }
    .btn-danger{
        background-color: #ffae19;
        border-color: #e59400;
    }
    .btn.btn-danger {
    margin: 10px;
}
p{
        color: #fff;
        font-size: 50px;
    }
</style>
<div class="delete text-center">
<p class="text-center py-3">Are you sure you want to delete? "{{item}}"?</p>
<a class="btn btn-danger" href="{% url 'list' %}">Cancel</a>

<form method="POST">
    {% csrf_token %}
    <input class="btn btn-info submit" type="submit" value="Submit" name="Confirm">
</form>
</div>