{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="small_div">
        <div class="container">
            <br>
            <h2>Student Information</h2>
            <hr>
            <form action="/update/{{ students.id }}">
 
                {% csrf_token %}
                <label class="form-group" for="name">Name: </label>
                <input class="form-control" type="text" name="name" value="{{ students.name }}" ><br>
 
                <label class="form-group" for="roll">Roll: </label>
                <input class="form-control" type="number" name="roll" value="{{ students.roll }}"><br>
 
                <label class="form-group" for="dpartment">Dpartment: </label>
                <input class="form-control" type="text" name="dpartment" value="{{ students.dpartment }}"><br>

                <label class="form-group" for="phone">Phone: </label>
                <input class="form-control" type="number" name="phone" value="{{ students.phone }}"><br>

                <label class="form-group" for="blood_group">Blood_group: </label>
                <input class="form-control" type="text" name="blood_group" value="{{ students.blood_group }}"><br>
 
                <input class="btn btn-success" type="submit" value="update">
            </form>
        </div>
    </div>
</body>
</html>