{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center py-5">Student Information</h2>
        <table class="table table-dark">
            <thead>
                <tr">
                    <th>Name : </th>
                    <th>Roll : </th>
                    <th>Dpartment : </th>
                    <th>Phone : </th>
                    <th>Blood Group : </th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.roll }}</td>
                    <td>{{ student.dpartment }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.blood_group }}</td>
                    <td>
                        <a class="btn btn-info" href="/edit/{{ student.id }}">Edit</a>
                        <a class="btn btn-danger" href="/delete/{{ student.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/add_students">Add Student</a>
    </div>
</body>
</html>
